* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    color: #ffffff;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
}

span {
    color: #232323;
}

.navbar a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #666666;
}

.home {
    height: 100vh;
    background: url('AESTH.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fix the background image */
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
    color: #ffffff;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    font-size: 19px;
    color: #333333;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: #ffffff;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #ffffff;
}

.btn-box a:nth-child(2):hover {
    color: #ffffff;
}

.btn-box a:nth-child(2)::before {
    background: #232323;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #232323;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #000000;
}

.main {
    background: url('GG.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fix the background image */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center; /* Center the content */
}

.about-text {
    max-width: 600px;
    padding: 20px;
}

.about-text h2 {
    color: #ffffff;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
